* {
  box-sizing: border-box;
}

body {
   font: normal 14px Helvetica, Arial, sans-serif;
   background-image: url("../img/logo.jpg");
   background-size:

 }

h1 {
  font-size: 33px;
  font-weight: bold;
  padding: 5px;
  text-decoration: underline;
}

ul {
  margin-left: 25px;
  list-style-type: disc;
}

h2 {
  font-size: 27px;
  font-weight: bold;
  padding: 8px;
  text-decoration: underline;
  text-decoration-style: dotted;
}

img {
  padding: 10px;
}

h3 {
  font-size: 21px;
  padding: 4px;
  font-style: italic;
  font-weight: bold;
}

.a-h-3 {
  color: green;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul.nav-bar li {
  float: left;
}

ul.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p {
  font-weight: bold;
  color: black;
}

ul.nav-bar li a:hover {
  background-color: green;
}
 .container {
   padding: 15px;
 }

ol {
  color: green;
}
